# mvn build
target/
dependency-reduced-pom.xml

# eclispse IDE
.checkstyle
.classpath
.project
.settings/
workspace/

# parstream example folders
example/example/data.json
example/example/json.ini
example/journals/
example/partition/
